<div class="alert  alert-dismissible fade show" role="alert">
  <strong></strong> 
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>