 <a class="navbar-brand headerMyBrand" href="#">
    <img src="/images/logo.png" width="47" height="40" alt="">
    Shopping list
  </a>
  <div class="headerMyNav" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
  </div>