<div class="btn-group headerUserLogin">
    <div class="userInfo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="userImg"></div>
    </div>

    <div id="myDropDownMenu" class="dropdown-menu">
        <p class= "dropdown-item">{{userName}}</p>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/personalPage">Личный кабинет</a>
        <a class="dropdown-item" href="#">Списки покупок</a>
        <a class="dropdown-item" href="#">Мои группы</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logOff">Выйти</a>
    </div>
</div>