<div class="content">




    <div class="menuAndGroupArea">
        <div class="menu">
            <div class="invites">
                <p>Приглашения</p>
                <div class="dropdown-divider"></div>
                <ul class="list-group">
                    
                </ul>
                <div class="dropdown-divider"></div>
                <button id="acceptInvite" type="button" class="btn btn-outline-success">Принять</button>
            </div>

            <div class="addGroupMenu">

                <p>Добавить группу</p>
                <div class="dropdown-divider"></div>
                <div class="groupInput">
                    <p>Введите имя группы</p>
                    <input type="text" id="addGroupInput" class="form-control" id="basic-url"
                        aria-describedby="basic-addon3">
                </div>
                <div class="groupInput">
                    <p>Описание к группе</p>
                    <textarea type="text" id="addGroupDescription" class="form-control" id="basic-url"
                        aria-describedby="basic-addon3"></textarea>
                </div>


                <div class="dropdown-divider"></div>
                <button id="acceptButton" type="button" class="btn btn-outline-success">Создать</button>
            </div>
        </div>



        <div class="groupsArea"></div>
    </div>



</div>