<div class="bodyArea">
    <h2>Регистрация на Shopping list</h1>
    <div class="enterReInfo">
        <p>Логин</p>
        <input id="inputNickName" type="text" class="form-control">
    </div>
    <div class="enterReInfo">
        <p>Пароль</p>
        <input id="inputPass" type="password" class="form-control">
    </div>
    <div class="enterReInfo">
        <p>Повторите пароль</p>
        <input id="inputPassRepeat" type="password" class="form-control">
    </div>

    <button type="button" id="regButton" class="btn btn-success">Регистрация</button>
</div>